html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}

.form-signin button[type="submit"] {
  -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
}

.alert-danger {
  color: #F4F4f4;
  background-color: #FF4136;
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
}

.alert-success {
  color: #F4F4f4;
  background-color: #2ECC40;
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.18);
}